body {
    background-color: black;
}
h1{
    font-family: "Mitr", sans-serif;
    font-weight: 500;
    font-style: normal;
    
    text-align: center;
    position:relative;
    top: 250px;
    color:white;
    margin:auto;
}

h4{
    text-align: center;
    position: relative;
    top:270px;
    color:white;
    margin:auto;
}
